<div class="preloader flex-column justify-content-center align-items-center">
  <img
    class="animation__shake"
    src="/images/logo.svg"
    alt="AdminStoreGG"
    height="60"
    width="60"
  />

  <h2 class="text-dark mt-4">Admin StoreGG</h2>
</div>
